<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1" parallel = "methods" verbose = "1" configfailurepolicy ="continue" thread-count="5">
   <test name = "test1 - Chrome">
   
      <parameter name = "browserName" value="chrome"/> 
      <parameter name = "browserVersion" value="ANY"/>
      <parameter name = "platform" value="windows"/>     
      
      
      <classes>
         <class name = "TestRunner.TestRunner" />
      </classes>
      
   </test>
   <test name = "test2 - Firefox">
   
      <parameter name = "browserName" value="chrome"/> 
      <parameter name = "browserVersion" value="ANY"/>
      <parameter name = "platform" value="windows"/>     
      
      
      <classes>
         <class name = "TestRunner.TestRunner" />
      </classes>
      
   </test>
</suite>